.app {

    &-header-fon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-width: 1280px;
      height: 270px;
      background-color: #292929;
      z-index: 0;
     }
  .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    //background-color: #fff;
  }

}
